flask
psycopg2-binary
Flask-SQLAlchemy
Flask-JWT-Extended
attrs
certifi==2023.11.17
exceptiongroup
h11
idna
outcome
chromedriver_autoinstaller
PySocks
selenium==4.0.0a7
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
urllib3
wsproto
pytz
webdriver_manager
apscheduler